<h1> HI </h1>

<p> Type your question to ask the coach </p>

<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" id="question" value="Ask the coach!">
</form>
